* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* custom - Css */


div .custom-button {
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #f35b04;
    /* border-color: rgba(0, 0, 0, 0.384); */
    margin-top: 8px;
    color: aliceblue;
    /* margin-left: 118px; */
    /* box-shadow: 0px 2px 15px #fab7b7dd; */

}

div .custom-button:hover {
    background-color: #19C1B6;
    color: rgb(220, 232, 245);
    box-shadow: 0px 1px 8px #5a5a5add;


}


div .custom-card-button {
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f35b04;
    /* border-color: rgba(0, 0, 0, 0.384); */
    margin-top: 8px;
    color: aliceblue;

    margin-left: 3cap;
    /* box-shadow: 0px 2px 15px #fab7b7dd; */
}

div .custom-card-button:hover {
    background-color: #19C1B6;
    color: rgb(220, 232, 245);
    box-shadow: 0px 1px 8px #5a5a5add;


}




.custom-container {
    background-color: #fefae0;
}

.heading-h2 {
    border-left: 5px solid #19C1B6;
    /* border-right: 5px solid #ffa600; */
    width: 30%;
    margin: auto;
    margin-top: 70px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    /* background-color: #000; */
    /* box-shadow: 0px 05px 0px #ddd; */

}

.heading-h4 {
    font-size: 26px;
    width: 500;
}

div .paragraph-p {
    font-size: 18px;
    /* text-align: justify; */
}

.video {
    border-radius: 20px;
}





/* Css Start */


.carousel-control-prev .hh {
    /* background: #000; */
    color: rgb(223, 0, 0);

}

div .carousel-control-prev {
    background: #420202;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-left: 90px;
    border-radius: 50px;
    /* padding: 20px; */
    font-size: 10px;
    box-shadow: 0px 2px 10px #fffb03;


}


div .carousel-control-next {
    background: #420202;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-right: 90px;
    border-radius: 50px;
    box-shadow: 0px 2px 10px #fffb03;
}

.hh {

    /* padding: ; */
}

/*  */
.container-fried {
    background-color: #19C1B6;
}

.top-icon-right {
    display: flex;
}

.span-topIcon {
    margin: 10px;

}

.span-topIcon {
    color: rgb(255, 255, 255);
    font-size: 16px;

}

.icon-toph {
    color: rgb(255, 255, 255);

}



.top-icon-left .custiom-btn {
    font-size: 14px;
    padding: 2px 7px;
    border-radius: 50px;
    background-color: #19C1B6;
    border-color: rgb(255, 255, 255);
    margin-top: 8px;
    margin-left: 118px;
    box-shadow: 0px 2px 15px #ccccccdd;
}

.top-icon-left .custiom-btn:hover {
    background-color: #f35b04;
    transition: all 0.3s ease;
}


/* Header Nav */

.collapse .custiom-btn2 {
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 8px;
    background-color: #f35b04;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    margin-top: 8px;
    box-shadow: 0px 02px 5px #FDFBD4;
    font-size: 16px;
    font-weight: 500;
    /* margin-left: 115px; */
}

.collapse .custiom-btn2:hover {
    background-color: #19C1B6;
    transition: all 0.3s ease;
}

.nav-main {
    box-shadow: 0px 4px 15px #eeeeeedd;

}

.hader-main-con {
    background-color: rgb(255, 255, 255);
}

.m .logo {
    font-size: 55px;
    /* box-shadow: 0px 0px 5px #eeee; */
}

.navbar-nav .nav-item .nav-link {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin: 0px 10px 0px 10px;
    /* border: 1px solid #ddd; */

}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #19C1B6;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;

}

.banner-img {
    width: 100%;
    height: 450px;
}



/* Academic  section*/

.col-3 .card {
    border: 1px solid #19C1B6;
    ;
}

.card:hover {
    box-shadow: 0px 5px 15px #b9fefbdc;
    transition: all 0.3s ease;
    ;
}

.card .card-icon-top {
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

.card-title {
    font-size: 24px;
    text-align: center;
}

.card-text {
    text-align: justify;
}



/* Teacher Section  */
.card-title-h5 {
    font-size: 18px;
    color: #878787;
    line-height: 10px;
    text-align: center;
}

div .custom-card-button2 {
    font-size: 18px;
    padding: 5px 100px;
    border-radius: 10px;
    background-color: #f35b04;
    /* border-color: rgba(0, 0, 0, 0.384); */
    margin-top: 8px;
    color: aliceblue;

    /* margin-left: 7cap; */
    /* box-shadow: 0px 2px 15px #fab7b7dd; */
}
div .custom-card-button3 {
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #f35b04;
    /* border-color: rgba(0, 0, 0, 0.384); */
    margin-top: 8px;
    color: rgb(0, 0, 0);

    /* margin-left: 7cap; */
    /* box-shadow: 0px 2px 15px #fab7b7dd; */
}

div .custom-card-button2:hover {
    background-color: #f35b04;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 8px #5a5a5add;
    transition: all 0.3s ease;
    transform: translateY(2px);


}
div .custom-card-button3:hover {
    background-color: #f35b04;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 8px #5a5a5add;
    transition: all 0.3s ease;
    transform: translateY(2px);


}


/* Notice Section */
.card-icon {
    width: 55px;
    border-radius: 50px;
}

b {
    margin: auto;
    font-size: 20px;
}

.marquetag{
    background-color: #FEFAE0;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #19c1b680;
    border: 1px solid #ddd;
}